<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="cache-control" content="no-cache, must-revalidate, post-check=0, pre-check=0">
  <meta http-equiv="expires" content="0">
  <meta http-equiv="pragma" content="no-cache">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>SÍSIFO</title>
  <link rel="icon" type="image/x-icon" href="favicon.ico">

  <script src="https://cdn.jsdelivr.net/npm/regenerator-runtime@0.13.7/runtime.min.js"></script>

  <meta http-equiv="Content-Security-Policy" 
  content="default-src 'self' https: localhost:* *.portaloas.udistrital.edu.co; 
  script-src 'unsafe-inline' 'unsafe-eval' https: localhost:* *.portaloas.udistrital.edu.co; 
  connect-src https: localhost:* ws://localhost:* *.portaloas.udistrital.edu.co; 
  style-src 'unsafe-inline' https: *.portaloas.udistrital.edu.co; 
  object-src 'none';">
  <meta name="importmap-type" content="systemjs-importmap" />

  <script type="systemjs-importmap">
    {
      "imports": {
        "single-spa": "https://cdn.jsdelivr.net/npm/single-spa@5.9.0/lib/system/single-spa.min.js"
      }
    }
  </script>
  <link rel="preload" href="https://cdn.jsdelivr.net/npm/single-spa@5.9.0/lib/system/single-spa.min.js" as="script">

  <script type="systemjs-importmap">
    {
      "imports": {
        <% if (isProd) { %>
          <% const { environment } = require('./environments/environment.production.ts'); %>
          <% const parcelsKeys = Object.keys(environment.parcels); %>
          <% for (let i = 0; i < parcelsKeys.length; i++) { %>
            "<%= parcelsKeys[i] %>": "<%= environment.parcels[parcelsKeys[i]] %>"<%= i < parcelsKeys.length - 1 ? ',' : '' %>
          <% } %>
        <% } else if (isDev) {%>
          <% const { environment } = require('./environments/environment.development.ts'); %>
          <% const parcelsKeys = Object.keys(environment.parcels); %>
          <% for (let i = 0; i < parcelsKeys.length; i++) { %>
            "<%= parcelsKeys[i] %>": "<%= environment.parcels[parcelsKeys[i]] %>"<%= i < parcelsKeys.length - 1 ? ',' : '' %>
          <% } %>
        <% } else {%>
          <% const { environment } = require('./environments/environment.ts'); %>
          <% const parcelsKeys = Object.keys(environment.parcels); %>
          <% for (let i = 0; i < parcelsKeys.length; i++) { %>
            "<%= parcelsKeys[i] %>": "<%= environment.parcels[parcelsKeys[i]] %>"<%= i < parcelsKeys.length - 1 ? ',' : '' %>
          <% } %>
        <% } %>
      }
    }
  </script>

  <script src="https://cdn.jsdelivr.net/npm/zone.js@0.11.3/dist/zone.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/import-map-overrides@2.2.0/dist/import-map-overrides.js"></script>
  <% if (isLocal) { %>
  <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/system.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/extras/amd.js"></script>
  <% } else { %>
  <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/system.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/extras/amd.min.js"></script>
  <% } %>

</head>
<body>
  <noscript>
    You need to enable JavaScript to run this app.
  </noscript>
  <script>
    System.import('@udistrital/root-config');
  </script>
  <import-map-overrides-full show-when-local-storage="devtools" dev-libs></import-map-overrides-full>
</body>
</html>
